# Excluded because it contains sensitive configs
/.config/gh/hosts.yml
/.android/adbkey*
/.gnupg*
/.pgpass
/.ssh
/.netrc

# Excluded because it contains volatile data
cache
/.CFUserTextEncoding
/.Trash
/.*_history
/.*sh_sessions
/.autoenv_authorized
/.babel.json
/.cache
/.cmake*
/.cortex-debug
/.coursier
/.cups
/.dropbox
/.electron
/.electron-gyp
/.gem
/.gradle
/.groovy
/.idea-build
/.ivy2
/.lesshst
/.local
/.node-gyp
/.npm
/.nrfconnect-apps*
/.nrfutil
/.nvm
/.oracle_jre_usage
/.pdfbox.cache
/.quokka
/.rnd
/.sbt
/.swiftpm
/.v8flags*
/.vcpkg/config
/.viminfo
/.vscode*
/.wget-hsts
/.yarnrc
/.z
/downloads*.txt
/tmp

# Excluded because these are dirs which contain large amounts of data and ony little config
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/SteamLibrary
/old
/p
/var
/w
/w-others
/w2
/ws-project
/Nordic
