# Excluded because it contains sensitive configs
/.private
/.gnupg
/.ssh

# Excluded because it contains volatile data
/.CFUserTextEncoding
/.Trash
/.autoenv_authorized
/.babel.json
/.bash_history
/.bash_sessions
/.coursier
/.dropbox
/.gem
/.ivy2
/.lesshst
/.npm
/.nvm
/.oracle_jre_usage
/.pdfbox.cache
/.psql_history
/.sbt
/.viminfo
/.z
/tmp

# Excluded because these are dirs which contain large amounts of data and ony little config
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/p
/var
